<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.header_font.system? and settings.body_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ 'globals.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'globals.js' | asset_url }}" defer="defer"></script>

    {%- liquid
      assign body_font_bold = settings.body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.body_font | font_face: font_display: 'swap' }}{{ body_font_bold | font_face: font_display: 'swap' }}{{ body_font_italic | font_face: font_display: 'swap' }}{{ body_font_bold_italic | font_face: font_display: 'swap' }}{{ settings.header_font | font_face: font_display: 'swap' }}:root {
        --font-family-body: {{ settings.body_font.family }};
        --font-family-header: {{ settings.header_font.family }};
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        height: 100%;
      }

      body {
        font-family: var(--font-family-body);
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--font-family-header);
        line-height: 1.2;
        margin: 0;
      }

      button,
      input,
      select,
      textarea {
        font-family: var(--font-family-body);
      }

    {% endstyle %}

  </head>
  <body>
    <header class="header">
      {%- sections 'header-group' -%}
    </header>
    <main
      class="main-wrapper"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>
    {%- render 'footer' -%}
  </body>
</html>