{{ 'banner.css' | asset_url | stylesheet_tag }}
{{ 'swiper.css' | asset_url | stylesheet_tag }}

<section class="section-component">
  <div class="container">
    <div class="swiper-main-component">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.type == 'banner' %}
              <div class="swiper-slide">
                <div class="banner-component">
                  <div class="banner-content">
                    <div class="banner-content-title">{{ block.settings.title }}</div>
                    <div class="banner-content-description">{{ block.settings.description }}</div>
                    <div class="banner-content-button">
                      <a href="{{ block.settings.url }}" class="btn btn-primary">{{ block.settings.url_title }}</a>
                    </div>
                  </div>
                  <div class="banner-image">
                    <img
                      src="{{ block.settings.image | image_url: width: 1000, height: 300  }}"
                      alt="{{ block.settings.title }}"
                      width="1000"
                      height="300" />
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="swiper-dots-content">
        <div class="swiper-dot"></div>
        <div class="swiper-dot swiper-dot-active"></div>
        <div class="swiper-dot"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.banner.name",
    "blocks": [
      {
        "type": "banner",
        "name": "t:sections.banner.blocks.banner.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.banner.blocks.banner.settings.title.label",
            "default": "t:sections.banner.blocks.banner.settings.title.default"
          },
          {
            "type": "text",
            "id": "description",
            "label": "t:sections.banner.blocks.banner.settings.description.label",
            "default": "t:sections.banner.blocks.banner.settings.description.default"
          },
          {
            "type": "url",
            "id": "url",
            "label": "t:sections.banner.blocks.banner.settings.url.label"
          },
          {
            "type": "text",
            "id": "url_title",
            "label": "t:sections.banner.blocks.banner.settings.url_title.label",
            "default": "t:sections.banner.blocks.banner.settings.url_title.default"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.banner.blocks.banner.settings.image.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.banner.presets.name",
        "blocks": [
          {
            "type": "banner"
          }
        ]
      }
    ]
  }
{% endschema %}