{{ 'home-hero.css' | asset_url | stylesheet_tag }}
{{ 'swiper.css' | asset_url | stylesheet_tag }}


<div class="home-hero-component">
  <div class="home-hero-content">
    <div class="swiper-main-component home-hero-slider-component">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.type == 'slideshow' %}
              <div class="swiper-slide">
                <div class="home-hero-title-content">
                  <p>{{ block.settings.tagline }}</p>
                  <h1>{{ block.settings.title }}</h1>
                </div>
                <p>{{ block.settings.description }}</p>
                <div class="home-hero-cta">
                  <a href="{{ block.settings.cta_link }}" class="home-hero-button">{{ block.settings.cta_label }}</a>
                </div>
                <img
                  srcset="
                    {% if block.settings.slider_image.width >= 288 %}{{ block.settings.slider_image | image_url: width: 288 }} 288w,{% endif %}
                    {% if block.settings.slider_image.width >= 576 %}{{ block.settings.slider_image | image_url: width: 576 }} 576w,{% endif %}
                    {% if block.settings.slider_image.width >= 550 %}{{ block.settings.slider_image | image_url: width: 550 }} 550w,{% endif %}
                    {% if block.settings.slider_image.width >= 1100 %}{{ block.settings.slider_image | image_url: width: 1100 }} 1100w,{% endif %}
                    {{ block.settings.slider_image | image_url }} {{ block.settings.slider_image.width }}w
                  "
                  src="{{ block.settings.slider_image | image_url: width: 800, height: 600  }}"
                  alt="{{ block.settings.title }}"
                  width="800"
                  height="600"
                  class="home-hero-image" />
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="swiper-dots-content"></div>
    </div>
    {% for block in section.blocks %}
      {% if block.type == 'product' %}
        <div class="home-hero-product__{{ forloop.index |  minus: 1 }}">
          <div class="home-hero-product__details">
            <h2 class="home-hero-product__title">{{ block.settings.product_title }}</h2>
            <p>{{ block.settings.product_summary }}</p>
          </div>
          <img
            src="{{ block.settings.product_image | image_url  }}"
            alt="{{ block.settings.product_title }}"
            width="800"
            height="600"
            class="home-hero-image" />
        </div>
      {% endif %}

    {% endfor %}
  </div>
</div>

<script>
  document.getElementsByName('home-hero-slider-component').forEach(function (element) {
    const swiperElement = element.querySelector('.swiper');
    new Swiper(swiperElement, {
      loop: true,
      autoHeight: false,
      centeredSlides: false,
      slidesPerView: "auto",
      mousewheel: {
        forceToAxis: true
      },
      keyboard: {
        enabled: true,
        onlyInViewport: true
      },
      pagination: {
        el: element.querySelector('.swiper-dots-content'),
        clickable: true,
        bulletActiveClass: "swiper-dot-active",
        bulletClass: "swiper-dot",
        bulletElement: "div",
      },
      slideActiveClass: "is-active",
      slideDuplicateActiveClass: "is-active"
    });
  });
</script>

{% schema %}

  {
    "name": "t:sections.home-hero.name",
    "blocks": [
      {
        "type": "slideshow",
        "name": "t:sections.home-hero.blocks.slideshow.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "slider_image",
            "label": "t:sections.home-hero.blocks.slideshow.settings.slider_image.label"
          },
          {
            "type": "text",
            "id": "tagline",
            "label": "t:sections.home-hero.blocks.slideshow.settings.tagline.label",
            "default": "t:sections.home-hero.blocks.slideshow.settings.tagline.default"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.home-hero.blocks.slideshow.settings.title.label",
            "default": "t:sections.home-hero.blocks.slideshow.settings.title.default"
          },
          {
            "type": "text",
            "id": "description",
            "label": "t:sections.home-hero.blocks.slideshow.settings.description.label",
            "default": "t:sections.home-hero.blocks.slideshow.settings.description.default"
          }, {
            "type": "url",
            "id": "cta_link",
            "label": "t:sections.home-hero.blocks.slideshow.settings.cta_link.label"
          }, {
            "type": "text",
            "id": "cta_label",
            "label": "t:sections.home-hero.blocks.slideshow.settings.cta_label.label",
            "default": "t:sections.home-hero.blocks.slideshow.settings.cta_label.default"
          }
        ]
      }, {
        "type": "product",
        "name": "t:sections.home-hero.blocks.product.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "t:sections.home-hero.blocks.product.settings.product_image.label"
          }, {
            "type": "text",
            "id": "product_title",
            "label": "t:sections.home-hero.blocks.product.settings.product_title.label",
            "default": "t:sections.home-hero.blocks.product.settings.product_title.default"
          }, {
            "type": "text",
            "id": "product_summary",
            "label": "t:sections.home-hero.blocks.product.settings.product_summary.label",
            "default": "t:sections.home-hero.blocks.product.settings.product_summary.default"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.home-hero.presets.name",
        "blocks": [
          {
            "type": "slideshow"
          }, {
            "type": "product"
          }
        ]
      }
    ]
  }
{% endschema %}